<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- Contact -->
          <section class="contact">
            <header>

            </header><p>ANALOG POEM</P>
            <p>the parallel universe of <a href="http://www.eringallup.info" target="blank">Erin Gallup</a></p>
            <ul class="icons">
              <li><a href="http://www.twitter.com/aggregateart" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="https://www.instagram.com/eringallup/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="https://www.linkedin.com/in/egallup" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
            </ul>
          </section>

        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>Say hi</li><li> eg@eringallup.info</li>
            </ul>
          </div>

      </div>

    </div>
  </div>
</footer>
