{% assign base = './' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth == 1 %}{% assign base = '../' %}
{% elsif depth == 2 %}{% assign base = '../../' %}
{% elsif depth == 3 %}{% assign base = '../../../' %}{% endif %}
<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<title>{{ page.title | default:'analog poem / Erin Gallup' }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<!-- <meta property="og:type" content="article" />
<meta property="og:url" content="http://analogpoem.com" />
<meta property="og:title" content="Analog Poem" />
<meta property="og:site_name" content="Analog Poem" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Analog Poem"> -->

<link rel="stylesheet" href="{{ base }}vendor/bootstrap.min.css">
<link rel="stylesheet" href="{{ base }}vendor/font-awesome.min.css">

<!--[if lte IE 8]><script src="{{ base }}js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="{{ base }}css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ base }}css/ie8.css" /><![endif]-->
</head>
<body ng-app="analogPoem">
