<nav id="nav">
  <ul>
    <li><a href="./">home</a></li>
    <li>
      projects
      <ul>
        <li><a href="lost-specimens">lost specimens</a></li>
        <li><a href="ruin-me">ruin me</a></li>
        <li><a href="ekotable">ekotable</a></li>
        <li><a href="the-usa-family-estate">the usa family estate</a></li>
        <li><a href="the-sentient-painting">the sentient painting</a></li>
        <li><a href="justification-for-grooming">justification for grooming</a></li>
        <li><a href="16">16</a></li>
      </ul>
    </li>
    <li><a href="left-sidebar.html">sketches</a></li>
    <li><a href="right-sidebar.html">about</a></li>
  </ul>
</nav>