<nav id="nav">
  <ul>
    <li><a href="./">home</a></li>
    <li>
      projects
      <ul>
        <li><a href="projects/lost-specimens">lost specimens</a></li>
        <li><a href="projects/ruin-me">ruin me</a></li>
        <li><a href="projects/ekotable">ekotable</a></li>
        <li><a href="projects/the-usa-family-estate">the usa family estate</a></li>
        <li><a href="projects/the-sentient-painting">the sentient painting</a></li>
        <li><a href="projects/justification-for-grooming">justification for grooming</a></li>
        <li><a href="projects/16">16</a></li>
      </ul>
    </li>
    <li><a href="sketches">sketches</a></li>
    <li><a href="about">about</a></li>
  </ul>
</nav>